[project]
name = "toolsense-template"
version = "0.1.0"
description = "Add your description here"
authors = [
    { name = "Robert Nyström", email = "robert.nystrom@toolsense.io" }
]

requires-python = ">=3.12"

dependencies = [
    "result==0.17.0",
    "fastapi==0.114.0",
    "uvicorn==0.30.6",
    "pydantic==2.9.1",
    "google-cloud-pubsub==2.23.0",
    "pydantic-settings==2.4.0",
    "valkey>=6.0.0",
]

[tool.uv]
dev-dependencies = [
    "coverage>=7.6.1",
    "mypy>=1.11.2",
    "pytest>=8.3.2",
    "pytest-mock>=3.14.0",
    "ruff>=0.6.2",
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.5.34",
    "mkdocs-git-revision-date-localized-plugin>=1.2.8",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/toolsense"]

[tool.coverage.run]
branch = true
source = ["src/toolsense"]
data_file = "coverage/.coverage"
relative_files = true
omit = ["*/tests/*"]

[tool.coverage.report]
exclude_lines = [
    "if __name__ == .__main__.:",
]

[tool.coverage.html]
directory = "coverage/html"

[tool.coverage.xml]
output = "coverage/coverage.xml"
