name: Build and Publish

on:
  release:
    types: [released]
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag name"
        required: true
        default: "v0.0.0"

jobs:
  test_and_lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rye
        uses: eifinger/setup-rye@v2

      - name: Sync Rye
        run: make sync

      - name: Check formatting
        run: make check_format

      - name: Check linting
        run: make check_lint

      - name: Check types
        run: make check_types

  publish:
    needs: test_and_lint
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set version from tag
        run: |
          RELEASE_TAG=${{ inputs.tag_name || github.event.release.tag_name }}
          echo "$RELEASE_TAG"
          sed -i -e 's/^version = "*.*.*"/version = "'"$RELEASE_TAG"'"/g' pyproject.toml

      - name: Set up Rye
        uses: eifinger/setup-rye@v2

      - name: Sync Rye (Create virtual env and install dependencies)
        run: make sync

      - name: Build package
        run: rye build

      - name: Upload packages to Release
        if: github.event_name == 'release'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload "${{ github.event.release.tag_name }}" dist/*

      - name: Upload to Artifact Registry
        env:
          PASSWORD: ${{ secrets.TOOLSENSE_PYTHON_REPO_KEY }}
          REPO_NAME: "toolsense-py-utils"
          REPO_URL: "https://europe-west1-python.pkg.dev/toolsense/toolsense-py-utils/"
          USERNAME: "_json_key_base64"
        run: |
          rye publish -r ${{ env.REPO_NAME }} --repository-url ${{ env.REPO_URL }} --username ${{ env.USERNAME }} --token ${{ env.PASSWORD }} -y

