# This workflow will install Python dependencies, run tests and lint with a single version of Python

name: Tests & Code Quality

on:
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches:
      - master
  workflow_dispatch:

jobs:
  test_and_lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rye
        uses: eifinger/setup-rye@v1

      - name: Sync Rye
        run: make sync

      - name: Check formatting
        run: make check_format

      - name: Check linting
        run: make lint

      - name: Check types
        run: make check_types
